/* Allmänt för formuläret */
.new-product {
  padding: 20px;
}

.new-product h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

/* Formulär */
.new-product-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 20px;
}

/* Etiketter */
.new-product-label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

/* Inputfält */
.new-product-input,
.new-product-textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  box-sizing: border-box;
}

.new-product-textarea {
  resize: vertical;
  height: 150px;
  width: 400px;
}

#new-product-imageUrl,
#new-product-brand {
  width: 400px;
}

#new-product-sku,
#new-product-price {
  width: 120px;
}

/* Felmeddelande */
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Knapp */
.add-new-button {
  width: 110px;
  background-color: black;
  color: white;
  padding: 12px 20px;
  margin-top: 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-new-button:hover {
  background-color: rgb(85, 85, 85);
}
